body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.team-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
    background-color: #eaeaea;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.team-card:hover {
    transform: translateY(-5px);
}

.team-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #007bff;
}

.team-card p {
    font-size: 16px;
    margin: 5px 0;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .team-card {
        margin-bottom: 20px;
    }
}

/* Animación de la ruleta */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.spin-animation {
    animation: spin 1s ease-out;
}
